@import 'media';

@font-face
{
    font-family: Roboto;
    src: url("/font/Roboto.ttf");
    font-style: normal;
}

body
{
    background: #e2e2e2;
    margin: 0;
}

@header_height: 64px;
@site_width: 992px;

.header
{
    height: @header_height;

    margin-left: auto;
    margin-right: auto;

    border-bottom: 2px #b41601;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #f8f8f8;

    @media @phone-strict
    {
        &__shop_logo
        {
            height: @header_height - 38px;
            fill: #cc0000;
            margin: 0;
        }

        &__oggetto_logo
        {
            height: @header_height - 30px;
            width: @header_height - 30px;
            fill: #cc0000;
            margin: 0;
        }

        &__phone
        {
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            line-height: @header_height;
            color: #cc0000;
            margin: 0;
        }
    }

    @media @tablet-strict
    {
        &__shop_logo
        {
            height: @header_height - 26px;
            fill: #cc0000;
            margin: 0;
        }

        &__oggetto_logo
        {
            height: @header_height - 20px;
            width: @header_height - 20px;
            fill: #cc0000;
            margin: 0;
        }

        &__phone
        {
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
            line-height: @header_height;
            color: #cc0000;
            margin: 0;
        }
    }

    @media @desktop
    {
        &__shop_logo
        {
            height: @header_height - 26px;
            fill: #cc0000;
            margin: 0;
        }

        &__oggetto_logo
        {
            height: @header_height - 20px;
            width: @header_height - 20px;
            fill: #cc0000;
            margin: 0;
        }

        &__phone
        {
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
            line-height: @header_height;
            color: #cc0000;
            margin: 0;
        }
    }

    &__shop_logo
    {
        fill: #cc0000;
        margin: 0;

        @media @phone-strict
        {
                height: @header_height - 38px;
        }

        @media @tablet-strict
        {
                height: @header_height - 26px;
        }

        @media @desktop
        {
                height: @header_height - 26px;
        }
    }

    &__oggetto_logo
    {
        fill: #cc0000;
        margin: 0;

        @media @phone-strict
        {
                height: @header_height - 30px;
                width: @header_height - 30px;

        }

        @media @tablet-strict
        {
                height: @header_height - 20px;
                width: @header_height - 20px;
        }

        @media @desktop
        {
            height: @header_height - 20px;
            width: @header_height - 20px;
        }
    }

    &__phone
    {
        font-family: Roboto;
        font-weight: bold;
        line-height: @header_height;
        color: #cc0000;
        margin: 0;

        @media @phone-strict
        {
                font-size: 14px;
        }

        @media @tablet-strict
        {
                font-size: 24px;
        }

        @media @desktop
        {
                font-size: 24px;
        }
    }

    &__shop_logo:hover
    {
        transition-duration: 0.5s;
        fill: #000000;
    }

    &__oggetto_logo:hover
    {
        transition-duration: 0.5s;
        fill: #000000;
    }
}

@menu_height: 40px;

.menu
{
    height: @menu_height;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    @media @phone-strict
    {
        //width: 100%;
        height: 2 * @menu_height;
        display: block;
    }

    @media @tablet-strict
    {
    }

    @media @desktop
    {
        //width: @site_width;
    }

    &__list
    {
        list-style: none;
        padding: 0;
        margin: 0;
        &_item
        {
            display: inline-block;
            margin-right: 10px;
        }

        &_link
        {
            text-align: center;
            line-height: @menu_height;
            font-size: @menu_height - 26px;
            font-family: Roboto;
            color: #cc0000;
        }

        &_link:hover
        {
            text-shadow: 0 0 12px #cc0000;
        }

        &_current_link
        {
            text-align: center;
            line-height: @menu_height;
            font-size: @menu_height - 26px;
            font-weight: bold;
            font-family: Roboto;
            color: #333333;
        }

    }


    &__search_form
    {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px solid #cc0000;
    }

    &__search_input
    {
        padding: 0;
        margin: 0;
        height: @menu_height - 12px;
        border: 0;
        width: 100%;
        background-color: #f8f8f8;
    }

    &__search_input:active
    {
        background-color: #f8f8f8;
        //border: 12px solid #cc0000;
    }

    &__search_input:focus
    {
        outline: none;
        .menu__search_form
        {
            box-shadow: 0 0 4px #cc0000;
        }

    }

    &__search_button
    {
        padding: 0;
        border: 0;

        width: @menu_height - 12px;
        height: @menu_height - 12px;
        background-color: #f8f8f8;
        background-position: center;
    }

    &__search_button:focus
    {
        outline: none;

        .menu__search_button_image
        {
            fill: #cc0000;
            filter: drop-shadow(0 0 7px #cc0000);
        }
    }

    &__search_button_image
    {
        outline: none;
        fill: #cc0000;
    }
}

.main
{
    @media @phone-strict
    {
        background: #2173bd;
    }

    @media @tablet-strict
    {
        background: #4ebd14;
    }

    @media @desktop
    {
        background: #f8f8f8;
    }

    &__breadcrumbs
    {
        font-family: Roboto;
        font-size: 14px;
        color: #cc0000;
        font-weight: bold;

        padding-top: 4px;
        margin-bottom: 4px;


        @media @phone-strict
        {
            margin-left: 4px;
        }

        @media @tablet-strict
        {
            margin-left: 16px;
        }

        @media @desktop
        {
            margin-left: 10%;
        }

        &_link
        {
            color: #cc0000;
            font-weight: normal;
            &:hover
            {
                text-shadow: 0 0 14px #cc0000;
            }
        }

        &_current_link
        {
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            color: #000000;
        }
    }

    &__product
    {
        @media @phone-strict
        {
            display: block;
        }

        @media @tablet-strict
        {
            display: block;
        }

        @media @desktop {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        &__preview {
            &_image {
                max-width: 100%;
            }

            @media @phone-strict {
                margin-left: 4px;
                margin-right: 4px;
                padding-top: 4px;
            }

            @media @tablet-strict {
                margin-left: 16px;
                margin-right: 16px;
                padding-top: 4px;
                padding-bottom: 16px;
            }

            @media @desktop {
                margin-left: 32px;
                margin-top: 4px;
                margin-bottom: 32px;

                &_image {
                    max-width: 512px;
                    max-height: 512px;
                }
            }
        }

        &__info {
            vertical-align: top;

            @media @phone-strict {
                margin-left: 4px;
                margin-right: 4px;
                margin-top: 4px;
                margin-bottom: 4px;
            }

            @media @tablet-strict {
                margin-left: 16px;
                margin-right: 16px;
                margin-top: 16px;
                margin-bottom: 16px;
            }

            @media @desktop {
                margin-left: 32px;
                margin-right: 32px;
                margin-top: 4px;
                margin-bottom: 32px;
            }
        }

        &__name {
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
        }

        &__properties {
            font-family: Roboto;
            font-size: 16px;
            overflow-wrap: break-word;
        }

        &__price {
            padding-top: 16px;
            padding-bottom: 16px;

            font-size: 32px;
            font-family: Roboto;
            font-weight: 700;
            color: #ce0000;
        }

        &__color_title {
            font-family: Roboto;
            font-size: 16px;
            padding: 0;
            margin: 0;
        }

        &__color_list {
            list-style: none;
            padding: 0;
            &_item {
                display: inline-block;
                border: 1px solid #000000;

                width: @list_button_size;
                height: @list_button_size;
                margin: 1px;
            }

            &_item:not([current]):hover {
                border: 2px solid #4f4f4f;
                margin: 0;
            }

            &_item[current] {
                border: 2px solid #cc0000;
                margin: 0;
            }
        }

        @list_button_size: 40px;

        &__size_title {
            font-family: Roboto;
            font-size: 16px;
        }

        &__size_list {
            list-style: none;
            padding: 0;

            &_item {
                display: inline-block;
                border: 1px solid #000000;

                width: @list_button_size;
                height: @list_button_size;
                margin: 1px;

                text-align: center;
                line-height: @list_button_size;
                font-size: 22px;
                font-family: Roboto;
            }

            &_item:not([current]):hover {
                border: 2px solid #4f4f4f;
                margin: 0;
            }

            &_item[current] {
                border: 2px solid #cc0000;
                margin: 0;
            }
        }

        &__buy_button {
            height: 48px;
            width: 165px;

            font-size: 22px;
            text-align: center;
            color: #f8f8f8;
            text-shadow: 1px 1px 1px #000000;

            background-color: #cc0000;
            border: 0;
            box-shadow: 0 0 2px #cc0000;

            margin-bottom: 16px;
        }

        &__buy_button:hover {
            //border: 2px dashed #2b2b2b;
            transition-duration: 0.5s;
            background-color: #dd0000;
            box-shadow: 0 0 12px #cc0000;
        }

        &__fav_button {
            display: inline-flex;
            &_logo {
                height: 24px;
                width: 24px;
                fill: #ababab;
            }

            &_title {
                text-align: center;
                line-height: 24px;
                font-family: Roboto;
                color: #ababab;
            }

            &[favorite] {
                .main__product__fav_button_logo {
                    fill: #cc0000;
                }

                .main__product__fav_button_title {
                    color: #cc0000;
                }
            }

            &:not([favorite]):hover {
                .main__product__fav_button_logo {
                    fill: #000000;
                    filter: drop-shadow(0 0 14px #000000);
                }

                .main__product__fav_button_title {
                    color: #000000;
                    text-shadow: 0 0 14px #000000;
                }
            }

            &:hover[favorite] {
                .main__product__fav_button_logo {
                    filter: drop-shadow(0 0 14px #cc0000);
                }

                .main__product__fav_button_title {
                    text-shadow: 0 0 14px #cc0000;
                }
            }
        }
    }
}

.noselect
{
    user-select: none;
}
